<h1>Carga colaborador México</h1>

<TABLE BORDER align="center">
	<TR ALIGN=CENTER>

		<TD>
                        <div class="custom-file">
                             
                                <input type="file" class="form-control" (change)="onFileChange($event)" name="archivo">
                                <span  id="btnUpload" class="input-group-text upload" (click)="onUpload()">Cargar Archivo</span>
                                
                                        
                              
                        </div>
    	        <TD><button id="downloadFile"class="btn  btn-primary" (click)="onSearch()">Descargar Layout</button>
		
	</TR>
</TABLE>
<br>
<TABLE BORDER align="center">
	<TR ALIGN=CENTER>
		<TD WIDTH="500"><label class="form-label" >Se procesaron : </label>
        <TD WIDTH="500"><label class="form-label">Exitoso : </label>
        <TD WIDTH="500"><label class="form-label">Fallido : </label>
		
	</TR>
    <TR ALIGN=CENTER>
	<TD WIDTH="500"> <input type="text" id="procesado" size="auto" disabled = "true" value= {{archivos}}>
        <TD WIDTH="500"> <input type="text" id="successful" size="auto" disabled = "true" value = {{correcto}}>
        <TD WIDTH="500"> <input type="text" id="error" size="auto" disabled = "true" value={{error}}>
		
	</TR>
</TABLE>
<br>
<div class="container-fluid mb-4"><h1 class="text-center font-weight-bold">Total de registros</h1></div>


