<ng-container *ngIf="showContenido">

    <ng-container *ngIf="showFiltro">

		<TABLE BORDER align="center">
			<TR>
				<TD COLSPAN=2><h1>Carga de Colaboradores</h1></TD>
			</TR>
			<TR ALIGN=CENTER>
				
					<TD><a href="../form-carga-mex"><img src="./assets/icon_mex.png" height="90px" width="150px" title="México" ></a></TD>
					<TD><a href="../form-carga-col"><img src="./assets/icon_col.png" height="90px" width="150px" title="Colombia" ></a></TD>
				
			</TR>
		</TABLE>
	</ng-container>

</ng-container>
